# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pkl

# Virtual environments
.env/
.venv/
venv/
ENV/
env/

# VSCode
.vscode/

# Environment/config files
.env
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
*.pid
*.db
docker-compose.override.yml

# Test/coverage
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
.cache
pytest_cache/
nosetests.xml
test-results/

# Build
build/
dist/
*.egg-info/
.eggs/